$primaryLightGrey: #e7eaf3;
$primaryLightBlue: #377dff;
$primaryBlue: #1164ff;
$primaryWhiter: #f6f7fa;

//Secondary colors

$secondaryWhite: #ffffff;
$secondaryGrey: #8c98a4;
$secondaryBlack: #000000;
$secondaryTextBlack: #1e2022;
$secondaryDarkBlue: #132144;
$secondaryHoverColor: rgba(55, 125, 255, 0.1); ;
