%iconProps {
  width: 1.7rem;
  height: 1.7rem;
  display: inline-block;
  cursor: pointer;
  color: $secondaryGrey;
}

%dropdownProps {
  background-color: unset;
  border-color: unset;
  box-shadow: unset;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  &:hover {
    background: rgba(55, 125, 255, 0.1);
    svg {
      fill: $primaryLightBlue;
    }
  }
  &::after {
    content: none;
  }
}

.header {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3.2rem;
  border-bottom: 1px solid $primaryLightGrey;
  position: sticky;
  top: 0;
  z-index: 99;
  background: $secondaryWhite;
  #{$self}__searchContent {
    display: flex;
    align-items: center;
    gap: 2rem;

    .tooltip-inner {
      width: 4rem;
      background-color: red;
    }
    svg {
      @extend %iconProps;
      &:hover {
        fill: $primaryLightBlue;
      }
      &:focus {
        outline: none;
      }
    }
    #{$self}__search {
      width: 36rem;
      height: 4.2rem;
      padding: 1.2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 1rem;
      gap: 1rem;
      &:hover {
        background: $primaryWhiter;
        #{$self}__searchbox {
          input {
            background: $primaryWhiter;
          }
        }
      }
      #{$self}__searchbox {
        display: flex;
        align-items: inherit;
        gap: 1rem;

        input {
          border: 0;
          outline: 0;
          height: 2.5rem;
          &::placeholder {
            font-size: 1.4rem;
            color: $secondaryGrey;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
  #{$self}__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    #{$self}--icon {
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;
      &:hover {
        background: rgba(55, 125, 255, 0.1);
        svg {
          fill: $primaryLightBlue;
        }
      }
      svg {
        @extend %iconProps;
      }
      .dropdown {
        .notifications,
        .apps-button {
          @extend %dropdownProps;
          .dropdown-menu {
            h6 {
              color: red;
            }
          }
        }
      }
      .dropdown .show {
        width: 40rem;
        border-radius: 0.85rem;
        border: 0;
        background-color: $secondaryWhite;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        font-size: 1.3rem;
        padding: 1.6rem 0;
        top: 3rem !important;
        h6 {
          font-size: 1.57rem;
          display: flex;
          justify-content: space-between;
          color: $secondaryGrey;
          padding: 1rem 2.4rem;
          .dropdown {
            .aside--lang-button {
              background-color: unset;
              border-color: unset;
              box-shadow: unset;
              cursor: pointer;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              &:hover {
                background: rgba(55, 125, 255, 0.1);
                svg {
                  fill: $primaryLightBlue;
                }
              }
              &::after {
                content: none;
              }
            }
          }
          .dropdown .show {
            width: 20rem;
            border-radius: 0.85rem;
            border: 0;
            background-color: $secondaryWhite;
            box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
            font-size: 1.3rem;
            padding: 1.6rem 0;
            top: -2rem !important;
            h6 {
              font-size: 1.1rem;
              text-transform: uppercase;
              color: $secondaryGrey;
              padding: 1rem 2.4rem;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;
              padding: 1rem 2.4rem;
              span {
                color: $secondaryGrey;
              }
            }
          }
        }
        .MuiBox-root {
          height: 34rem !important;
          overflow: auto !important;
        }

        .MuiPaper-elevation4 {
          box-shadow: none;
          background: $secondaryWhite;
        }

        .MuiTab-wrapper {
          color: $secondaryTextBlack;
          font-size: 1.4rem;
          text-transform: capitalize;
        }

        .Mui-selected {
          color: $primaryLightBlue;
          .MuiTab-wrapper {
            color: $primaryLightBlue;
          }
        }

        .PrivateTabIndicator-root-2 {
          background-color: $primaryLightBlue;
        }
        .all-notifications {
          font-size: 1.4rem;
          padding: 2.4rem 0rem 0rem 2.4rem;
          border-top: 1px solid $primaryLightGrey;
          text-align: center;
          color: $primaryLightBlue;
          svg {
            fill: $primaryLightBlue;
          }
        }
        .notifications-content {
          display: flex;
          align-items: center;
          justify-content: space-between !important;
          border-top: 1px solid $primaryLightGrey;
          gap: 1rem;
          padding: 2rem 0;
          .not-dot {
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background-color: $primaryLightGrey;
          }
          .user-image {
            width: 3.5rem;
            height: 3.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              clip-path: circle(50% at 50% 50%);
            }
          }
          .user-info {
            .user-name {
              font-size: 1.4rem;
              color: $secondaryTextBlack;
              text-transform: capitalize;
              font-weight: 600;
            }
            .user-email {
              font-size: 1.4rem;
              color: $secondaryGrey;
              text-transform: lowercase;
            }
          }
          .content-date {
            margin-left: auto;
            font-size: 1.4rem;
            color: $secondaryGrey;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: 1rem 2.4rem;
          span {
            color: $secondaryGrey;
          }
        }
      }
      #{$self}--icon-badge {
        width: 1.2rem;
        height: 1.2rem;
        background-color: $primaryPink;
        border: 2px solid $secondaryWhite;
        border-radius: 50%;
        position: absolute;
        right: 0%;
        top: 0%;
      }
    }
    #{$self}--iconApp {
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;
      &:hover {
        background: rgba(55, 125, 255, 0.1);
        svg {
          fill: $primaryLightBlue;
        }
      }
      svg {
        @extend %iconProps;
      }
      .dropdown {
        .notifications,
        .apps {
          @extend %dropdownProps;
        }
      }

      .dropdown .show {
        width: 40rem;
        border-radius: 0.85rem;
        border: 0;
        background-color: $secondaryWhite;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        font-size: 1.3rem;
        padding: 1.6rem 0;
        top: 3rem !important;
        .app-wrapper {
          height: 39.25rem;
          overflow: hidden;
          overflow-y: auto;
          padding: 0 1rem;
          .app {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2.1rem 1.1rem 2.1rem 2.5rem;
            border-radius: 1rem;
            .app-image {
              width: 3.5rem;
              height: 3.5rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                clip-path: circle(50% at 50% 50%);
              }
            }
            .app-info {
              .app-name {
                font-size: 1.4rem;
                color: $secondaryTextBlack;
                text-transform: capitalize;
                font-weight: 600;
              }
              .app-text {
                font-size: 1.4rem;
                color: $secondaryGrey;
                text-transform: lowercase;
              }
            }
          }
        }
        .all-apps {
          font-size: 1.4rem;
          padding: 2.4rem 0 0 2.4rem;
          border-top: 1px solid $primaryLightGrey;
          text-align: center;
          color: $primaryLightBlue;
          svg {
            fill: $primaryLightBlue;
          }
        }
        h6 {
          font-size: 1.6rem;
          color: $secondaryTextBlack;
          font-weight: bold;
          padding: 1rem 2.4rem;
        }
        button {
          span {
            color: $secondaryGrey;
          }
        }
      }
    }
    #{$self}__profile {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      .open {
        display: block;
        position: absolute;
        top: 20%;
        left: -62%;
        width: 15rem;
        background-color: $secondaryWhite;
        border-radius: 1rem;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        .open__status {
          display: flex;
          flex-direction: column;
          padding-top: 1rem;
          font-size: 1.3rem;
          color: $secondaryTextBlack;
          li {
            margin: 1rem 2.4rem 0.5rem 2.4rem;
          }
        }
        .open--reset {
          padding: 2.4rem;
          font-size: 1.3rem;
          color: $secondaryTextBlack;
          border-top: 1px solid $primaryLightGrey;
        }

        .open--reset {
          padding: 2.4rem;
          font-size: 1.3rem;
          color: $secondaryTextBlack;
          border-top: 1px solid $primaryLightGrey;
        }
      }
      .open-cust {
        display: block;
        position: absolute;
        top: 37%;
        left: -82%;
        width: 15rem;
        background-color: $secondaryWhite;
        border-radius: 1rem;
        padding: 1rem 0;
        width: 20rem;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        li {
          margin: 1rem 2.4rem 0.5rem 2.4rem;
          font-size: 1.4rem;
        }
      }
      .close {
        display: none;
      }
      .close-cust {
        display: none;
      }
      .arrow {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .is-open {
        width: 1.6rem;
        height: 1.6rem;
        transform: rotate(-90deg);
      }
      .dropdown {
        .header__profile-button {
          background-color: unset;
          border-color: unset;
          box-shadow: unset;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:after {
            content: none;
          }

          &:hover {
            background-color: rgba(55, 125, 255, 0.1);
          }
          img {
            width: 3.5rem;
            height: 3.5rem;
            object-fit: contain;
            position: relative;
          }
          .header__status-icon {
            width: 1.2rem;
            height: 1.2rem;
            background-color: $primaryGreen;
            border: 2px solid $secondaryWhite;
            border-radius: 50%;
            position: absolute;
            right: 10%;
            bottom: 10%;
          }
        }
      }
      .dropdown .show {
        width: 26rem;
        border-radius: 0.85rem;
        border: 0;
        background-color: $secondaryWhite;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        font-size: 1.3rem;
        padding: 2rem;
        h6 {
          font-size: 1.1rem;
          text-transform: uppercase;
          color: $secondaryGrey;
          padding: 1rem 2.4rem;
        }
      }
      img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        clip-path: circle(50% at 50% 50%);
      }
      .dropdown-item {
        padding: 1rem;
      }
      .header__user-container {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        gap: 1rem;
        .header__user {
          display: flex;
          align-items: center;
          gap: 1rem;
          .header__user-image {
            width: 3.5rem;
            height: 3.5rem;
          }
          .header__user-info {
            .header--user-name {
              font-size: 1.4rem;
              color: $secondaryTextBlack;
              text-transform: capitalize;
              font-weight: 600;
            }
            .header--user-email {
              font-size: 1.4rem;
              color: $secondaryGrey;
              text-transform: lowercase;
            }
          }
        }
      }
      .header__pro-user {
        display: flex;
        align-items: center;
        gap: 1rem;
        .header__pro-user-info {
          width: 3.5rem;
          height: 3.5rem;
          background: $secondaryTextBlack;
          color: $secondaryWhite;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 1.5rem;
        }
        .header__pro-user-profile {
          .header--pro-user-name {
            font-size: 1.4rem;
            color: $secondaryTextBlack;
            text-transform: capitalize;
            font-weight: 600;
            span {
              display: inline-block;
              color: $secondaryWhite;
              background: $primaryLightBlue;
              border-radius: 10rem;
              font-size: 1rem;
              padding: 0 0.5rem;
            }
          }
          .header--pro-user-email {
            font-size: 1.4rem;
            color: $secondaryGrey;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
