%iconProps {
  width: 1.7rem;
  height: 1.7rem;
  display: inline-block;
  cursor: pointer;
  color: $secondaryGrey;
}

.header {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3.2rem;
  border-bottom: 1px solid $primaryLightGrey;
  position: sticky;
  top: 0;
  z-index: 99;
  background: $secondaryWhite;
  #{$self}__searchContent {
    display: flex;
    align-items: center;
    gap: 2rem;
    svg {
      @extend %iconProps;
    }
    #{$self}__search {
      width: 36rem;
      height: 4.2rem;
      padding: 1.2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 1rem;
      gap: 1rem;
      &:hover {
        background: $primaryWhiter;
        #{$self}__searchbox {
          input {
            background: $primaryWhiter;
          }
        }
      }
      #{$self}__searchbox {
        display: flex;
        align-items: inherit;
        gap: 1rem;

        input {
          border: 0;
          outline: 0;
          height: 2.5rem;
          &::placeholder {
            font-size: 1.4rem;
            color: $secondaryGrey;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
  #{$self}__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    #{$self}--icon {
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background: $secondaryHoverColor;
        svg {
          fill: $primaryLightBlue;
        }
      }
      svg {
        @extend %iconProps;
      }
    }
    #{$self}__profile {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      cursor: pointer;
      .dropdown {
        .btn-secondary {
          background-color: unset;
          border-color: unset;
          box-shadow: unset;
          cursor: pointer;

          &:hover {
            background: $primaryWhiter;
            border-color: unset;
          }
        }
      }
      .dropdown .show {
        width: 20rem;
        border-radius: 0.85rem;
        border: 0;
        background-color: $secondaryWhite;
        box-shadow: 0 10px 40px 10px rgb(140 152 164 / 18%);
        font-size: 1.3rem;
        padding: 1.6rem 0;
        h6 {
          font-size: 1.1rem;
          text-transform: uppercase;
          color: $secondaryGrey;
          padding: 1rem 2.4rem;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: 1rem 2.4rem;
          span {
            color: $secondaryGrey;
          }
        }
      }
      &:hover {
        background: $secondaryHoverColor;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        clip-path: circle(50% at 50% 50%);
      }
    }
  }
}
