@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('./fonts/OpenSans-Regular.ttf') format('ttf');
}

@import 'antd/dist/antd.css';
@import './variables.scss';
@import './layout.scss';
@import './aside.scss';
@import './header.scss';
@import './footer.scss';
@import './button.scss';
@import './dashboard.scss';
@import './dashboardInfo.scss';
@import './dashboardUserImport.scss';
@import './dashboardTabs.scss';
@import './dashboardReports.scss';
@import './dashboardTable.scss';
@import './keyboardShortcuts.scss';
@import './reports.scss';
@import './activity.scss';
@import './collapseContent.scss';
@import './leftBar.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

p,
h4 {
  margin: 0;
  padding: 0;
}

h4 {
  color: $secondaryTextBlack;
}
